<h1>Users</h1>
<div class="container">
  <table class="table table responsive">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contact}}</td>
        <td>
          <Button class="btn btn-sm btn-secondary mr-3" type="button" (click)="updateUser(user.id, user)">Update</Button>
          <Button  class="btn btn-sm btn-danger" type="button" (click)="deleteUser(user.id)">Delete</Button>
        </td>
      </tr>
    </tbody>
    <button  class="btn btn-sm btn-info" type="button" (click)="createUser()">Add New</button>
  </table>
</div>

