<h1>Users</h1>
<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.contact}}</td>
          <td>
            <button class="btn btn-sm btn-primary mr-3 mb-2" type="button" routerLink="/users/{{user.id}}">View</button>
            <button class="btn btn-sm btn-secondary mr-3 mb-2" type="button" (click)="updateUser(user.id, user)">Update</button>
            <button  class="btn btn-sm btn-danger" type="button" (click)="deleteUser(user.id, user.name)">Delete</button>
          </td>
        </tr>
      </tbody>
      <button  class="btn btn-sm btn-info" type="button" routerLink="/users/new">Add New</button>
    </table>
  </div>
</div>


