<h1>Users</h1>
<div class="container">
  <table class="table table responsive">
    <thead>
      <tr class="usersTable__head">
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="usersTable__row" *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contact}}</td>
        <td>
          <Button type="button" (click)="updateUser(user.id, user)" style="margin-left: 10px;">Update</Button>
          <Button type="button" (click)="deleteUser(user.id)">Delete</Button>
        </td>
      </tr>
    </tbody>
    <button type="button" (click)="createUser()">Add New</button>
  </table>
</div>

